@using WebClient.ViewModels.Auth
@model OtpVerifyFormRequest
@{
    Layout = "_LayoutLogin";
}



@section Styles {
    <style>
        .field-validation-error {
            color: red;
        }

        .field-validation-valid {
            display: none;
        }

        input.input-validation-error {
            border: 1px solid red;
        }

        .validation-summary-errors {
            color: red;
            font-size: 1.1em;
        }

        .validation-summary-valid {
            display: none;
        }

        .display-none {
            display: none;
        }
    </style>
}

<div>
    <div>
        <a class="logo" href="#">
            <img class="img-fluid for-light" src="https://www.mitrasolutech.com/mitrasolutech.com/payroll/image/logo.png" alt="looginpage">
        </a>
    </div>
    <div class="login-main">
        <form class="theme-form" method="post" asp-controller="Auth" asp-action="OtpVerify" needs-validation>
            @await Html.PartialAsync("_Alert")
            <h4>Confirm your account</h4>
            <p>Enter your otp from whats application</p>

            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.IdNumber)
            @Html.HiddenFor(m => m.Requester)
            @Html.HiddenFor(m => m.CountDown)

            <table class="table no-border" aria-label="">
                <thead>
                    <tr><th></th><th></th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Id Number</td>
                        <td>@Model.IdNumber</td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>@Model.Requester</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label class="col-form-label">OTP Token</label>
                @Html.TextBoxFor(m => m.OtpSecure, new { @class = "form-control", @type = "text", @placeholder = "123456789", @autofocus = "autofocus" })
            </div>
            <span asp-validation-for="OtpSecure" class="text-danger"></span>

            @if (Model.ShowTimer)
            {
                <div class="form-group text-center">
                    <span id="timer">@Model.CountDown</span>
                </div>

                <div class="form-group mb-0">
                    <div class="text-end mt-3">
                        <input class="btn btn-primary btn-block w-100" type="submit" value="Submit" />
                    </div>
                </div>

            }


            <p class="mt-4 mb-0 text-small">Don't remember password?<a class="ms-2" href="@Url.Action("ForgotPassword","Auth")">Forgot Password</a></p>

            or <a class="ms-2" href="@Url.Action("Login","Auth")">Back to login</a>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            startTimer();


            function startTimer() {
                var presentTime = document.getElementById('timer').innerHTML;
                var timeArray = presentTime.split(/[:]+/);
                var m = timeArray[0];
                var s = checkSecond((timeArray[1] - 1));
                if (s == 59) { m = m - 1 }
                if (m < 0) {
                    return
                }

                document.getElementById('timer').innerHTML =
                    m + ":" + s;
                console.log(m)

                if (m == "0" && s == "00") {
                    alert("Token is expired");
                    location.assign('/');
                }

                setTimeout(startTimer, 1000);

            }

            function checkSecond(sec) {
                if (sec < 10 && sec >= 0) { sec = "0" + sec }; // add zero in front of numbers < 10
                if (sec < 0) { sec = "59" };
                return sec;
            }
        })

    </script>
}
