<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/assets/images/favicon.png")" type="image/x-icon">
    <link rel="shortcut icon" href="@Url.Content("~/assets/images/favicon.png")" type="image/x-icon">
    <title>HR Application</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/font-awesome.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/icofont.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/themify.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/flag-icon.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/feather-icon.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/bootstrap.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/style.css")">
    <link id="color" rel="stylesheet" href="@Url.Content("~/assets/css/color-1.css")" media="screen">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/responsive.css")">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderBody()    
    <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/js/bootstrap/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/js/icons/feather-icon/feather.min.js")"></script>
    <script src="@Url.Content("~/assets/js/icons/feather-icon/feather-icon.js")"></script>
    <script src="@Url.Content("~/assets/js/config.js")"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
