@{
    ViewData["Title"] = "Calendar Page";
    Layout = "_LayoutMain";
}


@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/datatables.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/style.css")">
    @* <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/slick.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/slick-theme.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/scrollbar.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/animate.css")"> *@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/calendar.css")">
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    <h4>@ViewData["Title"]</h4>
                </div>
                <div class="ml-auto">
                </div>
            </div>
        </div>

        <div class="card-body">
            <!-- Container-fluid starts-->
            <div class="container-fluid calendar-basic">
                <div class="card">
                    <div class="card-body">
                        <div class="row" id="wrap">
                            <div class="calendar-default" id="calendar-container">
                                <div id="calendar"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
        </div>
    </div>

</div>


@section Scripts {
    <script src="@Url.Content("~/assets/js/datatable/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/assets/js/moment.min.js")"></script>
    <script src="@Url.Content("~/assets/js/calendar/fullcalendar.min.js" )"></script>
    @* <script src="@Url.Content("~/assets/js/calendar/fullcalendar-custom.js" )"></script> *@
    @*     <script src="@Url.Content("~/assets/js/slick/slick.min.js" )"></script>
    <script src="@Url.Content("~/assets/js/slick/slick.js" )"></script>
    <script src="@Url.Content("~/assets/js/header-slick.js" )"></script> *@

    <script>
        (function ($) {

            document.addEventListener("DOMContentLoaded", function () {

                var calendarEl = document.getElementById("calendar");
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    headerToolbar: {
                        left: "prev,next today",
                        center: "title",
                    },
                    initialView: 'dayGridMonth',
                    navLinks: true, // can click day/week names to navigate views
                    editable: true,
                    selectable: true,
                    nowIndicator: true,
                    eventSources: [{
                        events: function (currentDate, start, end, timezone, callback) {
                            var startDate = currentDate.startStr;
                            var endDate = currentDate.endStr;

                            $.ajax({
                                url: "@Url.Action("PostCalendarData", "WorkDay")",
                                type: 'post',
                                dataType: 'json',
                                data: {
                                    //  requires UNIX timestamps
                                    start: startDate,
                                    end: endDate,
                                },
                                success: function (res) { 
                                
                                }
                            })
                        }
                    }],
                });
                calendar.render();
                // var cdate = calendar.getDate();
                // var month_int = cdate.getMonth();
                // alert((month_int + 1));  // March 2020 month will return 3

            });


            $(document).ready(function () {


            });

        })(jQuery);
    </script>
}

